* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}
.maindiv {
  border: 0.5px solid black;
  padding: 30px;
  border-radius: 7px;
  background-color: lightsteelblue;
}
.result {
  margin-top: 10px;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
}
.h2 {
  text-align: center;
  margin: 25px;
}
.maininput {
  font-size: 20px;
  border: 1px solid black;
  border-radius: 3px;
  padding: 3px;
}

.mainbutton {
  font-size: 20px;
  border: 1px solid black;
  border-radius: 3px;
  padding: 3px;
}
