* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: ghostwhite;
}
.input {
  font-size: 20px;
  margin-top: 35px;
}
.button {
  font-size: 20px;
  cursor: pointer;
}
.maindiv {
  height: 100px;
  width: 300px;
  background-color: whitesmoke;
  border: none;
  border-radius: 7px;
  font-size: 20px;
}
.result {
  text-align: center;
}
