* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.maindiv {
  border: 1px solid black;
  padding: 30px;
}
.maindiv1 {
  padding: 20px;
  border: 1px;
}
.maindiv2 {
  padding: 20px;
  border: 1px;
}
.maindiv3 {
  padding: 20px;
  border: 1px;
}
.button1,
.button2,
.button3 {
  cursor: pointer;
}
